@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0091ff;
}

@keyframes text-flicker {
  0%,
  100% {
    opacity: 1;
  }
  45% {
    opacity: 0.7;
  }
  55% {
    opacity: 0.5;
  }
  65% {
    opacity: 0.75;
  }
}

.animate-text-flicker {
  animation: text-flicker 2.5s infinite ease-in-out;
}
